.banner{

   height: 100vh;
   background-color: rgb(255, 251, 232);
   background-image: url('../../../public/assets/banner.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;

  display: flex;
  align-items: center;
  justify-content: center;
  

  
   
}

.banner div{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
}



.banner h1{
      color: white;
      letter-spacing: 5px;
      font-size: 46px;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
      font-family: var(--font-Poppins);

    
    
}

.banner div p{
   color: goldenrod;
   font-family: 'Dancing Script', cursive;
   font-size: 32px;
}

.containerPrincipal {
   padding: 50px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
 }
 
 .secaoCards {
   width: 100%;
   max-width: 1024px;
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
 
 .secaoCards div h2 {
   color: goldenrod;
   font-family: 'Dancing Script', cursive;
   text-align: center;
   font-size: 30px;
 }
 
 .containerCards {
   background-color: #f3f3f3;
   border-radius: 4px;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 40px;
 }
 
 @media (max-width: 1024px) {
   .banner div p {
     font-size: 28px;
   }
 }
 
 @media (max-width: 768px) {
   .banner div {
     max-width: 60%;
   }
 
   .banner div h1 {
     font-size: 36px;
   }
 
   .banner div p {
     font-size: 26px;
   }
 }
 
 @media (max-width: 550px) {
 
   .banner div h1 {
     font-size: 26px;
   }
 
   .banner div p {
     font-size: 18px;
   }
 }

